body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.bouncing-dot {
    width: 2cm;
    height: 2cm;
    background-color: black;
    border-radius: 50%;
    position: relative;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        top: 0;
    }

    50% {
        top: 100px;
    }
}
